{% extends 'admin.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="col m-3 d-flex">
        <a href="{{ path('user_index') }}" class="btn btn-warning d-block">Menu Utilisateurs</a>
        {{ include('admin/user/_delete_form.html.twig') }}
    </div>
    <h1 class="text-centered mt-5 mb-4">Modifier un Utilisateur</h1>

    {{ include('admin/user/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
