{% extends 'admin.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <div class="col m-3">   
        <a href="{{ path('user_index') }}" class="btn btn-warning">Menu des Utilisateurs</a>
    </div>
    <h1 class="text-centered mt-5 mb-4">Créer un Utilisateur</h1>

   {{ include('admin/user/_form.html.twig') }}
    
{% endblock %}
