{% extends 'base.html.twig' %}

{% block title %}Philosophie{% endblock %}

{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
{{ parent() }}
{% endblock %}

{% block body %}
	<!-- header provisoire -->
	<div class="header-provisoire mb-5 d-flex justify-content-center align-items-center">
		<div class="header-provisoire-title">Lesson</div>
	</div>
{% endblock %}