/***base***/

/*text*/
.text-centered {
  text-align: center !important;
}
/*colors*/
.text-white {
  color: white !important;
}

.btn.btn-secondary,
.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-warning,
.btn.btn-warning:hover {
  color: white;
}

th,
td,
label,
.pagination .page-link,
#nav-secondary li a {
  color: rgba(255, 255, 255, 0.75) !important;
}

header,
.pagination .page-link {
  background: #2a2b36 !important;
}

#nav-secondary > ul {
  display: flex !important;
  justify-content: flex-end !important;
}

.btn.btn-secondary {
  background: #7d8797;
}

.btn.btn-primary,
.btn.btn-primary:hover {
  background: #4280b4 !important;
}

.btn.btn-warning,
.btn.btn-warning:hover {
  background: #dd9124 !important;
}

body {
  background: #181924 !important;
}

.pagination .page-link:hover,
.pagination .page-item.active > .page-link {
  background: white !important;
  border: white !important;
  color: rgba(0, 0, 0, 0.75) !important;
}

/*nav-secondary*/
#nav-secondary > ul li a {
  margin-left: 20px;
  font-size: 15px;
}

/*form*/
.form-group {
  margin: auto !important;
}
