/*base*/
.text-centered {
  text-align: center !important;
}

#nav-secondary > ul {
  display: flex !important;
  justify-content: flex-end !important;
}

#nav-secondary > ul li a {
  margin-left: 20px;
  font-size: 15px;
}

/*general*/
.lesson > h1 {
  font-size: 50px !important;
  color: #151000;
}

.lesson p {
  text-align: justify;
}

a.btn.btn-secondary,
.btn.btn-secondary {
  background: #7d8797 !important;
  color: white !important;
}

a.btn.btn-success,
.btn.btn-success {
  background: #198754 !important;
  color: white !important;
}

/* header provisoire */
.header-provisoire {
  background: url("https://localhost:8000/images/pic_slide.jpg") no-repeat;
  height: 300px;
}

.header-provisoire-title {
  font-weight: bold;
  color: white;
  font-size: 50px;
}

/* cards */
.card {
  box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%) !important;
}

.card-title {
  font-weight: bold !important;
  font-size: 20px;
  color: black;
}

.card-text {
  text-align: justify;
}

.btn-primary {
  color: #fff !important;
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
}

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
  /* cards */
  .card {
    margin: auto !important;
    margin-bottom: 2rem !important;
  }
}

/*sidebar*/
.sidebar-p {
  color: rgb(56, 56, 56) !important;
  font-weight: 800;
}

/*completed*/
.completed {
  color: #198754 !important;
  font-weight: 600;
}

/*arrow left-right*/
.fa-chevron-left {
  margin-right: 10px;
}
.fa-chevron-right {
  margin-left: 10px;
}

/*login form*/

body {
  background-color: #fff;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-top: 50px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*app_login*/

#app_login {
}
