{% extends 'admin.html.twig' %}

{% block title %}New Lesson{% endblock %}

{% block body %}
    <h1 class="text-centered mt-5">Créer une Leçon</h1>

    {{ include('admin/lesson/_form.html.twig') }}

    {# <a href="{{ path('lesson_index') }}">back to list</a> #}
{% endblock %}
